/* font work sans  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* header section start here  */
nav {
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 130px;
  margin: 0px auto;
}
/* game logo  */
.body-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  width: 50%;
  height: 120px;
}
.body-logo img {
  width: 150px;
  object-fit: contain;
}
.logo-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.title-color {
  color: #f948b2;
}
/* game list  */
.nav-list {
  display: flex;
  gap: 32px;
  width: 50%;
  justify-content: end;
  align-items: center;
}
.nav-list li {
  list-style: none;
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}
.nav-list a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}
.list-icon {
  width: 30px;
  height: 54px;
}
.fa-youtube {
  padding: 16px;
  color: red;
  font-size: 1.5rem;
}
.fa-tiktok {
  color: #000000;
  font-size: 1.5rem;
}
.nav-btn {
  padding-top: 10px;
  border: none;
  border-radius: 10px;
}
/* nav end  */

/* banner section start here  */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 50px auto;
}
.banner-content {
  width: 50%;
  text-align: left;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 80%;
}
.banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 5px;
}
.color-title {
  font-size: 5rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}
.banner-content p {
  color: #534c64;
  font-size: 1rempx;
  font-weight: 500;
  margin-bottom: 10px;
}
.fa-circle-play,
.fa-arrow-down,
.fa-user-group {
  font-size: 1rem;
  padding-right: 5px;
}
.banner-btn1 {
  background: #ff42a5;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  color: #fff;
}
.banner-btn2 {
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-weight: 600;
  padding: 20px 40px;
  border: none;
}
/* header section end .. */

/* main start here  */

/* games-container start here  */
.games-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 55px auto;
}
.games-img {
  width: 50%;
}
.games-img img {
  width: 100%;
  height: 500px;
}
.games-content {
  width: 50%;
}
/* shared games-container and play-container  */
.games-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
}
.games-description {
  text-align: right;
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 52px;
}
.btn-primary {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 48px;
  background-color: #ff42a5;
  border: none;
  padding: 20px 40px;
}
.btn-align {
  text-align: right;
}
.title-comment {
  text-align: right;
}
#main-comment {
  color: #534c64;
  font-size: 1s2rem;
  font-weight: 700;
  text-align: start;
}
#purpose-comment {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
}
/* games end .. */

/* funny-video-container start here  */
.funny-video-container {
  width: 100%;
  margin: 40px auto;
}
.funny-items {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 80%;
  margin: 10px auto;
}
.funny-item {
  width: 30%;
  background: #eff2f3;
  box-shadow: 6px 4px 3px gray;
  position: relative;
}
.funny-item:hover {
  background-color: #f948b2;
  color: #7e777b;
}
.funny-item img {
  width: 100%;
}
.item-title {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 5px;
}

.video-title {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
#funny-color {
  color: #8758f1;
}
.video-description {
  color: #534c64;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.watch-now {
  position: absolute;
  top: 120px;
  left: 70px;
  color: #fa0adad5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  align-items: center;
}
.fa-circle-play {
  color: #f0e6f0;
  font-size: 1.6rem;
}
/* funny end .. */

/* play contaier start here  */
.play-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin: 120px auto;
}
.play-content {
  width: 40%;
  text-align: center;
}
.anniversery-img {
  width: 50%;
  position: relative;
}
.anniversery-img img {
  width: 100%;
}
.play-title {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.play-description {
  color: #534c64;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.anniversery-body img {
  width: 200px;
  height: 150px;
}
.anniversery-body {
  position: absolute;
  bottom: -50px;
  left: -60px;
}
/* play end .. */

/* game-list-container start here  */
.list-item {
  color: #0b0223;
  display: flex;
  font-size: 0.8rem;
}
.game-list-container {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.item-title {
  font-size: 1rem;
  border-radius: 20px;
  background: #cfc7c7;
  color: #0b0223;
  padding-right: 5px;
  text-align: center;
}
.item-title:hover {
  border-radius: 50px;
  background: #ac2f2f;
  color: red;
}
.list-item .list-item16 {
  margin-left: 20px;
}
.list-item img {
  width: 40px;
}
/* game-list end .. */

/* footer start here   */
.footer-container {
  width: 100%;
  background: #0b0223;
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
}
.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 2rem;
  padding-top: 50px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  padding: 50px 5px;
}
.icon-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 50px;
}
.footer-copywright {
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  padding-top: 50px;
  font-size: 0.8rem;
}
/* footer end..  */

/* responsive media query for mobile large  */
@media screen and (max-width: 425px) {
  .nav-container,
  .nav-list,
  .games-container,
  .funny-items,
  .play-container {
    flex-direction: column;
  }
  .nav-container {
    width: 100%;
    height: 300px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-content,
  .banner-img,
  .games-img,
  .games-content,
  .funny-video-container,
  .funny-item,
  .anniversery-img {
    width: 100%;
  }
  .play-content {
    width: 85%;
  }
  .color-title,
  .banner-title,
  .games-title {
    font-size: 2rem;
  }
  .games-container {
    text-align: center;
  }
  .game-list-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 0px;
    width: 95%;
  }
  .footer-title {
    gap: 1px;
  }
}
